db.sqlite3
**/__pycache__/
venv/
venv37/
.idea
members/membres.csv
invoicing/usage.csv
static/
backup/
/email.env

.env.prod
.env.prod.db
.env.prod.host

.env.dev
.env.dev.db
.env.dev.host

keycloak.dev.env
keycloak.prod.env
