version: '3.7'

services:
  web:
    restart: unless-stopped
    image: ghcr.io/alexsierro/fabman:latest
    command: gunicorn fabman.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
      - ./:/home/app/web/
      - .aws/:/home/app/.aws
    expose:
      - 8000
    env_file:
      - ./.env.prod
      - ./email.env
      - ./keycloak.prod.env
    depends_on:
      - db
  db:
    restart: unless-stopped
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    restart: unless-stopped
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
    expose:
      - 1337
    depends_on:
      - web
    env_file:
      - ./.env.prod.host
volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  default:
    external:
      name: proxy_default
