Django==6.0.4
django-extensions==4.1
django-debug-toolbar==6.2.0
pytz==2026.1.post1
#typed-ast==1.4.2
httpx==0.28.1
Unidecode==1.4.0
qrbill==1.2.0
python-stdnum==2.2
psycopg2-binary==2.9.11
gunicorn==25.1.0
django-dbbackup==5.2.0
django-storages[boto3]
boto3==1.42.74
Pillow==12.2.0
weasyprint==68.1
python-dotenv==1.2.2
python-keycloak==7.1.1