{% load static %}
{% load app_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facture N°</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<style>
*{
    margin-bottom : 0;
    padding-bottom : 0;
}
div{

}
h2{
    margin-bottom : 10mm;
}
#page{
    display : grid;
    grid-gap: 0.2vw;
    grid-template-columns: 80mm 40mm 80mm;
    grid-template-rows: 50mm 30mm;
    padding-left : 10mm;

}
.logo{
    grid-column: 1;
    grid-row: 1;
}

.logo img{
    height: 50mm;
}

.adresse
{
    text-align: right;
    grid-column: 3;
    grid-row: 2;
    padding-right : 20mm
}
.facture{
    grid-column: 1/4;
    grid-row: 3;
    margin-right : 20mm;

}
.commentaire{
    grid-column: 1/4;
    grid-row: 5;
}
.info_staff{
grid-column: 1/4;
    grid-row: 4;
}
.qrCode{
    grid-column: 1/4;
    grid-row: 6;
}
.detail:nth-child(odd) {
     background-color: #BDBFC1;
}
.detail:nth-child(even) {
     background-color: #FFF;
     padding: 5px;
}
.tot_projet td{
     border-top : solid 2px;
     border-bottom : solid 2px;
}
.total td{
    padding-top : 20mm
}


</style>

<body>
<div id="page">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="My image"><br>
        FabLab Sion <br> Rue de la dixences 10 <br> 1950 Sion <br> <br> info@fablab-sion.ch
    </div>
    <div class="adresse">
        <div><p> {{ member_info.name }} {{ member_info.surname }}<br>
            {{ member_info.address|default_if_none:" " }}<br>
            {{ member_info.npa|default_if_none:" " }} {{ member_info.locality|default_if_none:" " }}<br>
        </p></div>
        <p style="padding-top:15mm">Sion, le {{ invoice.date_invoice|date:"d.m.Y"}}</p>
    </div>
    <div class="facture">
        <h2>Facture N° {{ invoice.invoice_number }}</h2>
        <table style="width:100%" class="detail">
            <tr>
                <th style="width:25%">Items</th>
                <th style="width:25%">Quantité</th>
                <th style="width:25%">Prix</th>
                <th style="width:25%">Total</th>
            </tr>

            {% regroup usages_anotated by project__name as usages_list %}

            {% for project__name, project_usages in usages_list %}
            <tr>
                <td colspan="4"><h4>Project : {{ project__name|default_if_none:"Sans projet" }} </h4></td>
            </tr>
            {% for usage in project_usages %}
            <tr class="detail">
                <td>{{ usage.resource__name }}</td>
                <td>{{ usage.qty|floatformat:"-2" }} {{ usage.resource__unit__name}}</td>
                <td>CHF{{ usage.unit_price|floatformat:"-2" }}.-</td>
                <td>CHF{{ usage.total_price|floatformat:"-2" }}.-</td>
            </tr>
            {% endfor %}
            <tr class="tot_projet">
                <td colspan="3">Total pour le projet {{ project__name|default_if_none:"Sans projet" }} :</td>
                <td>CHF {{ project_usages|running_total|floatformat:"-2" }}.-</td>
            </tr>
            {% endfor %}
            {% if amount_machine_usages > 0 %}
            <tr>
                <td colspan="3" style="text-align: right; padding-right : 5mm; ">Machines</td>
                <td style="font-weight: bold;">CHF {{ amount_machine_usages|floatformat:"-2" }}.-</td>
            </tr>
            {% endif %}
            {% if amount_other_usages > 0 %}
            <tr>
                <td colspan="3" style="text-align: right; padding-right : 5mm; ">Autres</td>
                <td style="font-weight: bold;">CHF {{ amount_other_usages|floatformat:"-2" }}.-</td>
            </tr>
            {% endif %}
            {% if invoice.amount_deduction_cash > 0 or invoice.amount_deduction_machine > 0 %}
            <tr>
                <td colspan="3" style="text-align: right; padding-right : 5mm; font-weight: bold; border-top solide 2px">Sous-total</td>
                <td style="font-weight: bold;">CHF {{ invoice.amount|floatformat:"-2" }}.-</td>
            </tr>
            {% endif %}

            {% if invoice.amount_deduction_machine > 0 %}
            <tr>
                <td colspan="3" style="text-align: right; padding-right : 5mm; ">Déduction Machine</td>
                <td style="font-weight: bold;">CHF {{ invoice.amount_deduction_machine|floatformat:"-2" }}.-</td>
            </tr>
            {% endif %}
            {% if invoice.amount_deduction_cash > 0 %}
            <tr>
                <td colspan="3" style="text-align: right; padding-right : 5mm; ">Déduction Autres</td>
                <td style="font-weight: bold;">CHF {{ invoice.amount_deduction_cash|floatformat:"-2" }}.-</td>
            </tr>
            {% endif %}

            <tr>
                <td colspan="3" style="text-align: right; padding-right : 5mm; font-weight: bold; border-top solide 2px">Total à payer</td>
                <td style="font-weight: bold;">CHF {{ invoice.amount_due|floatformat:"-2" }}.-</td>
            </tr>

        </table>


    </div>
    {% if invoice.amount_deduction_cash > 0 or invoice.amount_deduction_machine > 0 or amount_machine_after > 0 or amount_cash_after > 0%}
    <div class="info_staff">
        <h2>Avoir réstant</h2>
        <table>
            <tr>
                <td>Heure d'animation restante</td>
                <td>{{ amount_machine_after|floatformat:"-2" }}.-</td>
            </tr>
            <tr>
                <td>Note de frais restante</td>
                <td>{{ amount_cash_after|floatformat:"-2" }}.-</td>
            </tr>
        </table>
    </div>
    {% endif %}
    <div class="commentaire">
        <p>Voici la facture pour ton utilisations du FabLab Sion.</br>
            Nous t'invitons à la régler dans un délai de 30 jours.<br>
            Pour toutes demande merci de contacter le caissier par e-mail caisse@fablab-sion.ch <br>
            Meilleures salutations.</p>
    </div>
    <div class="qrCode">
        <img src="{% static 'img/invoicing.svg' %}" alt="My image">
    </div>
</div>



</body>
</html>